* {
	box-sizing: border-box;
}
body {
	font-family: 'Signika', sans-serif;
	background-color: #cbc9c8;
	color: #343637;
	text-align: center;
}
header {
	margin-top: 50px;
	font-size: 20px;
}
#container {
	width: 920px;
	height: 550px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
#tile1 {
	width: 400px;
	height: 400px;
	margin: 20px;
	float: left;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #ffffff;
}
table, th, td {
	border: 3px solid #000000;
	border-collapse: collapse;
	text-align: center;
	padding: 3px 20px;
	margin: 20px auto;
}

#etykieta {
	letter-spacing: 3px;
	font-weight: bold;
	background-color: #343637;
	color: #ffffff;
}
.red {
	background-color: #ff0000;
}
.orange {
	background-color: #ff9900;
}
.yellow {
	background-color: #ffff00;
}
#green {
	background-color: #00cc00;
}
#tile2 {
	width: 400px;
	height: 400px;
	margin: 20px;
	padding: 0px 25px;
	float: left;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #ffffff;
}

.podaj {
	text-align: left;
}
input {
	padding: 6px;
}
button {
	margin: 20px;
	padding: 3px;
	border-radius: 3px;
	text-align: center;
}
#wynik {
	text-align: left;
}
footer {
	font-size: 12px;
}